body {
  font-size: small;
  font-family:Lucida Grande,Arial,'MS UI Gothic',sans-serif;
  user-select:none;
  -ms-user-select:none;
  -webkit-user-select: none;
}

input.edit_box {
  width : 130px;
}

input.button {
  width : 256px;
}

input.preset_button {
  width : 72px;
}

input.preset_select {
  width : 180px;
}
